.content {
    display: flex;
    font-family: 'Inter';
    min-height: 100vh;
}

.sidebar {
    width: 15%;
    background-color: #868686;
    text-align: center;
    padding: 1% 1.5%;
}

.transaction-list {
    padding: 0;
    margin: 0;
}

.transaction-list__title {
    color: #fff;
    font-size: clamp(20px, 1.98vw, 34px);
    font-weight: 700;
    margin-bottom: 20%;
    margin-top: 0;
}

.transaction-list__item {
    list-style: none;
    background-color: #EEEFEB;
    border-radius: 5px;
    margin-bottom: 20%;
    padding: 2% 0;
}

.transaction-list__link {
    text-decoration: none;
    color: #000;
    font-size: clamp(16px, 1.58vw, 28px);
}

.main {
    width: 85%;
}

.title-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 3%;
    border-bottom: 2px solid #5F5F5F;
}

.title {
    display: flex;
    align-items: center;
}

.user__icon {
    width: clamp(40px, 4.63vw, 120px);
    height: clamp(40px, 4.63vw, 120px);
    border-radius: 50%;
}

.user__icon--none {
    width: clamp(40px, 4.63vw, 120px);
    height: clamp(40px, 4.63vw, 120px);
    border-radius: 50%;
    border: none;
    background-color: #D9D9D9;
    display: inline-block;
}

.user__name {
    font-size: clamp(20px, 2.4vw, 36px);
    margin: 0;
}

.completed-form {
    width: 14%;
}

.button__completed {
    font-size: clamp(14px, 1.3vw, 24px);
    background-color: #FF8282;
    color: #fff;
    border: none;
    padding: 5% 0;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
}

.item {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1% 3%;
    border-bottom: 2px solid #5F5F5F;
}

.item__image {
    width: 15%;
    object-fit: cover;
}

.item__image--img {
    width: 100%;
}

.item__info {
    margin-left: 3%;
}

.item__name {
    font-size: clamp(26px, 3.17vw, 54px);
    font-weight: 700;
    margin: 0;
}

.yen,
.item__price {
    font-size: clamp(20px, 2.4vw, 36px);
}

.item__price {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 5%
}

.message-list {
    padding: 2%;
}

.message {
    width: 40%;
    text-align: center;
    position: relative;
}

.message--me {
    display: flex;
    justify-content: flex-end;
}

.message__user {
    display: flex;
    align-items: center;
    gap: 4%;
}

.message__user-icon {
    width: clamp(40px, 3.8vw, 70px);
    height: clamp(40px, 3.8vw, 70px);
    border-radius: 50%;
}

.message__user-icon--img {
    width: 100%;
}

.message__user-name {
    font-size: clamp(14px, 1.3vw, 24px);
    font-weight: 700;
    margin: 0;
}

.message__image-container {
    display: flex;
    justify-content: flex-end;
}

.message__image {
    width: 80%;
    object-fit: cover;
}

.message__image--img {
    width: 100%;
}

.message__text {
    margin: 2% 0;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 40px;
    background: #D9D9D9;
    border-radius: 4px;
}

.message__user--me {
    display: flex;
    align-items: center;
    gap: 4%;
    justify-content: flex-end;
}

.message-update-form {
    display: flex;
    flex-direction: column;
}

.message-update-form__textarea {
    margin: 2% 0;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px 0;
    background: #D9D9D9;
    border-radius: 4px;
    border: none;
    width: 100%;
    text-align: center;
    font-family: 'Inter';
    line-height: 1;
    resize: none;
    overflow-y: auto;
    scrollbar-width: none;

}

.message-update-form__textarea::-webkit-scrollbar {
    display: none;
}

.form-button {
    width: 85%;
    text-align: right;
}

.message-form__button {
    font-size: clamp(14px, 1vw, 20px);
    border: none;
    cursor: pointer;
    color: #5F5F5F;
    background: transparent;
}

.message-delete-form {
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    padding-right: 1%;
}

.message-form-container {
    padding: 0 2%;
    margin-top: 10%;
    padding-bottom: 1%;
}

.message-form {
    display: flex;
    align-items: center;
}

.message-form__textarea {
    width: 75%;
    padding: 12px 15px;
    border-radius: 4px;
    border: 1px solid #5f5f5f;
    color: #7B7B7B;
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 700;
    height: 44px;
    resize: none;
    overflow-y: auto;
    line-height: 1;
    scrollbar-width: none;
}

.message-form__textarea::-webkit-scrollbar {
    display: none;
}

.message-form__textarea::placeholder {
    color: #7B7B7B;
    opacity: 1;
    line-height: 1;
}

.message-form__file {
    display: none;
}

.message-form__label {
    color: #FF5555;
    border: 2px solid #FF5555;
    border-radius: 10px;
    text-decoration: none;
    padding: 0.5% 1.5%;
    font-size: clamp(14px, 1.3vw, 24px);
    cursor: pointer;
    font-weight: 700;
    margin-left: 1%;
}

.message-form__send-button {
    width: 8%;
    padding: 0;
    border: none;
}

.send-icon {
    width: 100%;
    height: auto;
}

.error {
    color: red;
}

.modal {
    position: fixed;
    top: 60%;
    left: 56%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    border: 1px solid #000;
    background: #FDFCE6;
    width: 40%;
}

.modal-text {
    font-size: clamp(24px, 2.65vw, 48px);
    margin: 0;
    padding: 3%;
    border-bottom: 1px solid #000;
}

.rating-text {
    font-size: clamp(14px, 1.3vw, 24px);
    color: #868686;
    margin: 0;
    padding: 3% 3% 0;
}

.rating-stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding: 0 3%;
}

.rating-stars--input {
    display: none;
}

.stars {
    color: #D9D9D9;
    font-size: clamp(50px, 6.6vw, 110px);
    cursor: pointer;
    user-select: none;
}

.rating-stars--input:checked ~ .stars {
    color: #FFF048;
}

.rating-form-button {
    text-align: right;
    padding: 2.5%;
}

.rating-button {
    background: #FF8282;
    border: none;
    border-radius: 5px;
    padding: 2% 3%;
    color: #fff;
    cursor: pointer;
    font-size: clamp(18px, 1.58vw, 28px);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .sidebar {
        width: 20%;
    }

    .completed-form {
        width: 20%;
    }

    .message__text {
        padding: 10px 20px;
    }

    .message-update-form__textarea {
        padding: 14px 20px 0;
    }

    .message-form__textarea {
        height: 30px;
        font-size: 14px;
        line-height: 1;
        padding: 8px 10px;
    }

    .message-form__textarea::placeholder {
        color: #7B7B7B;
        opacity: 1;
        line-height: 1;
    }

    .form-button {
        padding-right: 5%;
    }
}

@media screen and (min-width: 820px) and (max-width: 1024px) {
    .completed-form {
        width: 18%;
    }
}
