.content {
    display: flex;
    font-family: 'Inter';
}

.sidebar {
    width: 20%;
    background-color: #868686;
    text-align: center;
    padding: 1%;
}

.transaction-list__title {
    color: #fff;
    font-size: clamp(20px, 1.98vw, 34px);
    font-weight: 700;
    margin: 0;
}

.message__user {
    display: flex;
    gap: 4%;
    align-items: center;
    padding: 4% 0 3%;
}

.user__icon {
    width: clamp(40px, 4.63vw, 120px);
    height: clamp(40px, 4.63vw, 120px);
    border-radius: 50%;
}

.user__icon--none {
    width: clamp(40px, 4.63vw, 120px);
    height: clamp(40px, 4.63vw, 120px);
    border-radius: 50%;
    border: none;
    background-color: #D9D9D9;
    display: inline-block;
}

.user__name {
    font-size: clamp(20px, 1.98vw, 34px);
    margin: 0;
}

.message__text {
    margin: 0;
    font-size: clamp(16px, 1.32vw, 24px);
    font-weight: 300;
    padding: 4% 3%;
    background: #e5e5e5;
    border-radius: 5px;
}

form.message-form {
    margin: 5% 0;
}

.message-form__label {
    display: block;
    margin-bottom: 1%;
    font-size: clamp(20px, 1.85vw, 32px);
}

.message-form__input {
    width: 100%;
    height: 16.24vw;
    border: 1.5px solid #000;
    border-radius: 5px;
    padding: 2%;
    font-size: clamp(18px, 1.58vw, 28px);
}


.error {
    color: red;
}